<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
        <br />
    </head>
<body>
    <div style='float: left'>
        <a href="blog">Main Blog Page</a> | <a href="newpost">Add Blog Entry</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>