{% extends "base.html" %}

{% block content %}
    <h1>Blogz</h1>

    <hr />

    {% if blogs|length == 0 %}
    <p>No new blogs</p>
    {% else %}

        <ul id='navigation'>
            {% for blog in blogs %}
            <li><a href="{{ url_for('blog', id=blog.id) }}"><font size='5' color='blue'>{{blog.name}}</font></a><br /><br />{{blog.content}}<br />
            <p class="user">written by <a href= "/blog?user={{ blog.owner.username }}" > {{blog.owner.username}} </a></p>
            <hr />
        </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}